<div class="container-fluid my-padd">
<div class="row justify-content-center aling-items-center">
    <div class="col-6 cont-exp">
        
        <!------------------------>
        <!------------------------>
        <div class="container-fluid  exp-lab">
            <div class="circulo"></div>
            <h2 class="My-h2">Experiencia Laboral</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptate inventore sapiente aperiam ullam corporis accusantium.
                Commodi eum nisi possimus est rem nulla velit!  Amet
                voluptatibus cupiditate consequuntur ipsa dolor eveniet.
            </p>
        </div>
        <!------------------------>
        <!------------------------>
        <div class="container-fluid  exp-lab">
            <div class="circulo"></div>
            <h2 class="my-h2">Experiencia Laboral</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptate inventore sapiente aperiam ullam corporis accusantium.
                Commodi eum nisi possimus est rem nulla velit!  Amet
                voluptatibus cupiditate consequuntur ipsa dolor eveniet.
            </p>
        </div>
        <!------------------------>
        <!------------------------>
        <div class="container-fluid  exp-lab">
            <div class="circulo"></div>
            <h2 class="My-h2">Experiencia Laboral</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptate inventore sapiente aperiam ullam corporis accusantium.
                Commodi eum nisi possimus est rem nulla velit!  Amet
                voluptatibus cupiditate consequuntur ipsa dolor eveniet.
            </p>
        </div>
        <!------------------------>

        <!------------------------>
    </div>
</div>
</div>
