<div class="container">
<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg_11">
        <ul>
            <li>
                <h1>Trabajo1</h1> - <h3>(years)</h3>
                
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Reprehenderit reiciendis veniam, 
                soluta totam ad molestiae et minima labore fugit laudantium error eaque? 
                Quod laudantium voluptatem odio ea velit, distinctio alias.</p>
        </ul>
       

 
   </div>
   <ul>
    <li>
        <h1>Trabajo2</h1> - <h3>(years)</h3>
        
    </li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reprehenderit reiciendis veniam, 
        soluta totam ad molestiae et minima labore fugit laudantium error eaque? 
        Quod laudantium voluptatem odio ea velit, distinctio alias.</p>
</ul>

</div>
</div>
