<app-menu></app-menu>
<app-inicio></app-inicio>
<app-sobre-mi></app-sobre-mi>
<app-skills></app-skills>
<app-curriculum></app-curriculum>
<app-portfolio></app-portfolio>
<app-contacto></app-contacto>
<app-footer></app-footer>


<!--<div class="container">
  <div class="row">
    <div class="col-4" *ngFor=" let dibujo of personajes">
      <img class="img" src="{{ dibujo.image}}" alt="">
      <h3>Id: {{dibujo.id}}</h3>
      <h1>{{dibujo.name}}</h1>
      <h2>{{dibujo.species}}</h2>
    
    </div>
  </div>
</div>-->


