<section id="contacto" class="contacto">
    <div class="contenido-seccion">
        <h2>CONTACTO</h2>
    <div class="fila">
        <!-- Formularios-->
        <div class="col">
            <input type="text" placeholder="Tú Nombre">
            <input type="text" placeholder="Número telefonico">
            <input type="text" placeholder="Direccion de correo">
            <input type="text" placeholder="Tema">
            <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
            <button class="my-button">
                Enviar 
              </button>

        </div>
        <!--Mapa-->
        <div class="col">
        <img src="../../../assets/Captura.PNG" alt="">
        <div class="info">
            <ul>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    Argentina, Entre Rios(Bovril)
                </li>
                <li>
                    <i class="fa-solid fa-mobile-screen"></i>
                    Llamanos: 3438 - 411882
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    Email: Gottigbrian69@gmal.com
                </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</section>
