<div class="container-fluid">
    <div class="row p-cont">

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/images.jpg"  class="img-fluid" id="fotodeperfil">
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Brian Gottig</p>
        <p>Full stack developer Jr</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dignissimos fugiat, necessitatibus vitae quos at sequi, 
            voluptates cum doloremque maxime voluptatibus enim dolores 
            a laborum, hic delectus nemo? Quidem, labore dolorum?</p>
        </span>
      </div>

    </div>
</div>
