 <!-- FOOTER-->
 <footer>
    <a href="#inicio" class="arriba">
        <i class="fa-solid fa-angles-up"></i>
    </a>
    <ul class="wrapper">
        <li class="icon linkedin">
            <span class="tooltip">Linkedin</span>
            <span><i class="fab fa-linkedin-in"></i></span>
        </li>
        <li class="icon twitter">
            <span class="tooltip">Twitter</span>
            <span><i class="fab fa-twitter"></i></span>
        </li>
        <li class="icon instagram">
            <span class="tooltip">Instagram</span>
            <span><i class="fab fa-instagram"></i></span>
        </li>
        <li class="icon whatsapp">
            <span class="tooltip">Whatsapp</span>
            <span><i class="fab fa-whatsapp"></i></span>
        </li>
        <li class="icon github">
            <span class="tooltip">Github</span>
            <span><i class="fab fa-github"></i></span>
        </li>
    </ul>
</footer>
